@import url(elements/header.css);
@import url(elements/main.css);
@import url(elements/footer.css);

@import url("https://fonts.googleapis.com/css2?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

:root {
    --main-color: #f9e2af;
    --main-background-color: #1e1e2e;
    --secondary-background-color: #313244;
    --main-text-color: #cdd6f4;
    --secondary-text-color: #11111b;
}

*,
html {
    margin: 0;
    padding: 0;
}

body {
    font-size: 17px;
    font-family: "Open Sans";
    background: var(--main-background-color);
}

header,
footer {
    font-size: 20px;
    font-family: "Nunito";
}

header,
main,
footer {
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    color: var(--main-text-color);
    background: var(--secondary-background-color);
}
